/* Essentials Content */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    background-image: radial-gradient(circle, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: line-through;
}
/* Main Content */
.main{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainbackground{
    height: 90%;
    width: 90%;
    border-radius: 10px;
    background-color: white;
    opacity: 0.3;
    position: absolute;
}
.maincontent{
    height: 90%;
    width: 90%;
    border-radius: 10px;
    border: solid 1px white;
}